html, body {
  height: 100%;
  width:  100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

ul{
  margin: 0;
  display: flex;
  background: grey;
  padding: 1my nmsae is ari ahamda
  5px 0;
}
ul li{
  list-style: none;
  margin: 0 23px;
}
